{% extends 'animals/base.html' %}
{% load static %}
{% block title_block %}
Animal Profile
{% endblock %}

{% block body_block %}
<h1>Animal Profile</h1>
<div class="animal-profile-container">
    <div id="animal-leftblock">

        {% if animal.picture %}
        <img src="{{ animal.picture.url }}" alt="{{ animal.name }}">
        {% else %}
        <img src="{% static 'images/default-animal.jpg' %}" alt="{{ animal.name }}">
        {% endif %}

        {%if is_owner %}
        <input form="animal-form" type="file" id="pictureSelect" name="picture" accept="image/png,image/jpeg"
            onchange="previewUpload()">
        {% endif %}
        <div class="form-field-name">
            <label for="species">Name:</label>
            <input type="text" form="animal-form" id="name" name="name" value="{{ animal.name }}" required><br>
        </div>
    </div>

    <div id="animal-rightblock">
        <div class="form-field">
            <label for="species">Species:</label>
            <input form="animal-form" type="text" id="species" name="species" value="{{ animal.species }}" required><br>
        </div>
        <div class="form-field">
            <label for="breed">Breed:</label>
            <input form="animal-form" type="text" id="breed" name="breed" value="{{ animal.breed }}" required><br>
        </div>
        <div class="form-field">
            <label for="age">Age:</label>
            <input form="animal-form" type="number" id="age" name="age" value="{{ animal.age }}" required><br>
        </div>
        <div class="form-field">
            <label for="sex">Sex:</label>
            <input form="animal-form" type="text" id="sex" name="sex" value="{{ animal.sex }}" required><br>
        </div>

        <div class="form-field"><label for="sociable">Sociable:</label>
            <select form="animal-form" id="sociable" name="sociable">
                <option value="True" {% if animal.sociable %}selected{% endif %}>Yes</option>
                <option value="False" {% if not animal.sociable %}selected{% endif %}>No</option>
            </select><br>
        </div>
        <div class="form-field"><label for="about">About:</label>
            <textarea form="animal-form" id=" about" name="about" required>{{ animal.about }}</textarea><br>
        </div>
        {% if is_owner %}
        <form method="post" action="{% url 'animals:add_animal' %}" id="animal-form">

            {% csrf_token %}

            <div id="animal-form-submit">

                <button type="button" onclick="cancel()"> Cancel</button>
                <button type="submit">Save Details</button>

            </div>
        </form>
        {% else %}

        {% csrf_token %}

        <div id="animal-form-submit">

            <button type="button" onclick="cancel()"> Cancel</button>
            <button type="submit">Save Details</button>

        </div>
        </form>
        {% endif %}


    </div>


</div>

<script>

    function previewUpload() {
        var selector = document.getElementById("pictureSelect");
        if (selector.files.length > 0) {
            picture = URL.createObjectURL(selector.files[0]);
            pictureFrame = document.getElementById("pictureFrame");
            pictureFrame.src = picture;
        }
    }

    function cancel() {
        location.href = "{% url 'animals:account' %}";
    }

</script>
{% endblock %}