{% extends 'animals/base.html' %}
{% load static %}
{% block title_block %}
Animals for adoption
{% endblock %}

{% block body_block %}
    <h1>Animals available for adoption</h1>
  
    <div class="search-results-section">
        <h2>Search Animals</h2>
        <div class="search-results">
            {% if animals %}
                {% for animal in animals %}
                    <div class="animal">
                        {% if animal.picture %}
                            <img src="{{ animal.picture.url }}" alt="{{ animal.name }}">
                        {% else %}
                            <img src="{% static 'images/default-animal.jpg' %}" alt="{{ animal.name }}">
                        {% endif %}
                        <h3>{{ animal.name }}</h3>
                        <p>Age: {{ animal.age }}</p>
                        <p>Breed: {{ animal.breed }}</p>
                        <p>Sociable: {% if animal.sociable %}Yes{% else %}No{% endif %}</p>
                        <a href="{% url 'animals:animal_profile' animal.id %}">View Details</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no animals available for adoption, please try again later.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}