{% extends 'animals/base.html' %}
{% load static %}
{% block title_block %}
Animal Profile
{% endblock %}

{% block body_block %}
<h1>Animal Profile</h1>
<div class="animal-profile-container">
    <div id="animal-leftblock">

        {% if animal.picture %}
        <img id="pictureFrame" src="{{ animal.picture.url }}" alt="{{ animal.name }}">
        {% else %}
        <img id="pictureFrame" src="{% static 'images/default-animal.jpg' %}" alt="{{ animal.name }}">
        {% endif %}

        {%if is_owner %}
        <input form="animal-form" type="file" id="pictureSelect" name="picture" accept="image/png,image/jpeg"
            onchange="previewUpload()">
        {% endif %}
        <div class="form-field-name">
            <label for="species">Name:</label>
            <input type="text" form="animal-form" id="name" name="name" value="{{ animal.name }}" required><br>
        </div>
    </div>

    <div id="animal-rightblock">
        <div class="form-field">
            <label for="species">Species:</label>
            <select form="animal-form" id="species" name="species">
                <option value="Dog" {% if animal.species == "Dog" %}selected{% endif %}>dog</option>
                <option value="Cat" {% if animal.species == "Cat" %}selected{% endif %}>cat</option>
                <option value="Rabbit" {% if animal.species == "Rabbit" %}selected{% endif %}>rabbit</option>
                <option value="Bird" {% if animal.species == "Bird" %}selected{% endif %}>bird</option>
                <option value="Other" {% if animal.species == "Other" %}selected{% endif %}>other</option>
            </select><br>
        </div>
        <div class="form-field">
            <label for="breed">Breed:</label>
            <input form="animal-form" type="text" id="breed" name="breed" value="{{ animal.breed }}" required><br>
        </div>
        <div class="form-field">
            <label for="age">Age:</label>
            <input form="animal-form" type="number" id="age" name="age" value="{{ animal.age }}" required><br>
        </div>
        <div class="form-field">
            <label for="sex">Sex:</label>
            <select form="animal-form" id="sex" name="sex">
                <option value="Male" {% if animal.sex == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if animal.sex == 'Female' %}selected{% endif %}>Female</option>
            </select><br>
        </div>

        <div class="form-field">
            <label for="sociable">Sociable:</label>
            <select form="animal-form" id="sociable" name="sociable">
                <option value="True" {% if animal.sociable %}selected{% endif %}>Yes</option>
                <option value="False" {% if not animal.sociable %}selected{% endif %}>No</option>
            </select><br>
        </div>
        <div class="form-field"><label for="about">About:</label>
            <textarea form="animal-form" id=" about" name="about" required>{{ animal.about }}</textarea><br>
        </div>
        {% if is_owner %}
        <!-- User is owner -->
        {%if page_function == 'add' %}
        <form method="post" action="{% url 'animals:add_animal' %}" id="animal-form" enctype="multipart/form-data">
            <!-- User wants to add a new animal -->
            {% csrf_token %}

            <div id="animal-form-submit">

                <button type="button" onclick="cancel()"> Cancel</button>
                <button type="submit">Save Details</button>

            </div>
        </form>

        {% else %}
        <!-- User wants to edit their animal profile -->
        <form method="post" action="{% url 'animals:edit_animal' animal.id %}" id="animal-form" enctype="multipart/form-data">

            {% csrf_token %}

            <div id="animal-form-submit">

                <button type="button" onclick="cancel()"> Cancel</button>
                <button type="submit">Save Details</button>

            </div>
        </form>

        {% endif %}
        {% else %}


        <form method="post" action="" id="animal-form">

            {% csrf_token %}

            <div id="animal-form-submit">

                <button type="button" onclick="history.back()"> Go Back</button>
                <button type="submit">Adopt</button>

            </div>
        </form>

        {% endif %}


    </div>


</div>

{% if is_owner %}

<!--JS for edit and add-->
<script>

    function previewUpload() {
        var selector = document.getElementById("pictureSelect");
        if (selector.files.length > 0) {
            picture = URL.createObjectURL(selector.files[0]);
            pictureFrame = document.getElementById("pictureFrame");
            pictureFrame.src = picture;
        }
    }

    function cancel() {
        location.href = "{% url 'animals:account' %}";
    }

</script>
{% else %}

<!-- User is not owner  -->

<script>

    function disableForm() {
        var inputs = document.getElementsByTagName("Input");
        for (var i = inputs.length - 1; i >= 0; i--) {
            inputs[i].readOnly = "True";
        }
    }

    disableForm();

</script>

{% endif %}

{% endblock %}