<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANIMATCH - {% block title_block %}WE MATCH YOU TO ANIMALS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-center">
                <li><a href="{% url 'animals:home' %}">ANIMATCH</a></li>
            </ul>
            <ul class="nav-right">
                {% if user.is_authenticated %}
                    <li>Welcome, {{ user.username }}</li>
                    <li><a href="{% url 'animals:account' %}">My Account</a></li>
                    <li>
                        <form method="post" action="{% url 'animals:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-button">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'animals:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block body_block %}
        {% endblock %}
    </main>
    <footer>
        <nav>
            <ul class="footer-nav">
                <li><a href="{% url 'animals:home' %}">ANIMATCH</a></li>
                <li><a href="{% url 'animals:about' %}">About Us</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>