<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANIMATCH - {% block title_block %}WE MATCH YOU TO ANIMALS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'animals:home' %}">ANIMATCH</a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="{% url 'animals:animals' %}">View Animals</a></li>
                    <li><a href="{% url 'animals:recommended' %}">Recommended Animals</a></li>
                    
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'animals:account' %}">My Account</a></li>
                        <li>
                            <form method="post" action="{% url 'animals:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-button">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'animals:login' %}">Login</a></li>
                        <li><a href="{% url 'animals:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="content-container">
            {% block body_block %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <nav class="footer-nav">
                <ul>
                    <li><a href="{% url 'animals:home' %}">ANIMATCH</a></li>
                    <li><a href="{% url 'animals:about' %}">About Us</a></li>
                    <li><a href="{% url 'animals:faq' %}">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
