{% extends 'animals/base.html' %}
{% load static %}
{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<div class="auth-container">
    <h1>Login</h1>
    <form method="post" action="{% url 'animals:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <p class="auth-switch">Don't have an account? <a href="{% url 'animals:signup' %}">Sign up here</a>.</p>
</div>
{% endblock %}