{% extends 'animals/base.html' %}
{% load static %}
{% block title_block %}
Login
{% endblock %}

{% block body_block %}
    <h1>Login</h1>
    <form method="post" action="{% url 'animals:login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    <p>Or, <a href="{% url 'animals:signup' %}">Signup</a></p>
{% endblock %}